* {
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: #000000;
    --textcolor-light: #ffffff;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    background-color: $backgroundcolor;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    min-width: $container;
}

.second-container {
    width: $second-container;
    margin: 0 auto;
}

