* {
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: #1F1F1F;
    --textcolor-light: #ffffff;
    --hover-color: #FBCE51;
    --titlefont:  "Golos Text", sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    background-color: $backgroundcolor;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    min-width: $container;
}

.second-container {
    width: $second-container;
    margin: 0 auto;
}

@media screen and (max-width: 375px) {
    .container {
        min-width: $container-phone;
    }

    .second-container {
        width: $second-container-phone;
    }
}