$backgroundcolor:#8B8B8B;

$textcolor: #313131;
$spancolor: #F54932;

$color-dark: #1F1F1F;
$color-light: #FBCE51;
$color-disable: #D6D6D6;


$container: 1366px;
$second-container: 1122px;

$title-font: "Golos Text", sans-serif;
$text-font: "Merriweather", serif;