$backgroundcolor: #FFFFFF;

$textcolor-dark: #313131;
$textcolor-light: #FFFFFF;
$spancolor: #F54932;

$color-dark: #1F1F1F;
$color-light: #FBCE51;
$color-disable: #D6D6D6;

$container: 1366px;
$second-container: 1222px;

$title-font: "Golos Text", sans-serif;
$text-font: "Merriweather", serif;